{% extends 'spk/base.html' %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Nilai Semester 1</h4>
                        
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Mata Pelajaran
                                    </th>
                                    <th>
                                        Nilai
                                    </th>
                                </thead>
                                <tbody>
                                    {% if inggris %}
                                    <tr>
                                        <td>
                                            Bahasa Inggris
                                        </td>
                                        <td>
                                            {{ inggris.0 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if indonesia %}
                                    <tr>
                                        <td>
                                            Bahasa Indonesia
                                        </td>
                                        <td>
                                            {{ indonesia.0 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if matematika %}
                                    <tr>
                                        <td>
                                            Matematika
                                        </td>
                                        <td>
                                            {{ matematika.0 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if fisika %}
                                    <tr>
                                        <td>
                                            Fisika
                                        </td>
                                        <td>
                                            {{ fisika.0 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if kimia %}
                                    <tr>
                                        <td>
                                            Kimia
                                        </td>
                                        <td>
                                            {{ kimia.0 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if biologi %}
                                    <tr>
                                        <td>
                                            Biologi
                                        </td>
                                        <td>
                                            {{ biologi.0 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if ekonomi %}
                                    <tr>
                                        <td>
                                            Ekonomi
                                        </td>
                                        <td>
                                            {{ ekonomi.0 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if geografi %}
                                    <tr>
                                        <td>
                                            Geografi
                                        </td>
                                        <td>
                                            {{ geografi.0 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if sosiologi %}
                                    <tr>
                                        <td>
                                            Sosiologi
                                        </td>
                                        <td>
                                            {{ sosiologi.0 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Nilai Semester 2</h4>
                        
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Mata Pelajaran
                                    </th>
                                    <th>
                                        Nilai
                                    </th>
                                </thead>
                                <tbody>
                                    {% if inggris %}
                                    <tr>
                                        <td>
                                            Bahasa Inggris
                                        </td>
                                        <td>
                                            {{ inggris.1 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if indonesia %}
                                    <tr>
                                        <td>
                                            Bahasa Indonesia
                                        </td>
                                        <td>
                                            {{ indonesia.1 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if matematika %}
                                    <tr>
                                        <td>
                                            Matematika
                                        </td>
                                        <td>
                                            {{ matematika.1 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if fisika %}
                                    <tr>
                                        <td>
                                            Fisika
                                        </td>
                                        <td>
                                            {{ fisika.1 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if kimia %}
                                    <tr>
                                        <td>
                                            Kimia
                                        </td>
                                        <td>
                                            {{ kimia.1 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if biologi %}
                                    <tr>
                                        <td>
                                            Biologi
                                        </td>
                                        <td>
                                            {{ biologi.1 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if ekonomi %}
                                    <tr>
                                        <td>
                                            Ekonomi
                                        </td>
                                        <td>
                                            {{ ekonomi.1 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if geografi %}
                                    <tr>
                                        <td>
                                            Geografi
                                        </td>
                                        <td>
                                            {{ geografi.1 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if sosiologi %}
                                    <tr>
                                        <td>
                                            Sosiologi
                                        </td>
                                        <td>
                                            {{ sosiologi.1 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Nilai Semester 3</h4>
                        
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Mata Pelajaran
                                    </th>
                                    <th>
                                        Nilai
                                    </th>
                                </thead>
                                <tbody>
                                    {% if inggris %}
                                    <tr>
                                        <td>
                                            Bahasa Inggris
                                        </td>
                                        <td>
                                            {{ inggris.2 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if indonesia %}
                                    <tr>
                                        <td>
                                            Bahasa Indonesia
                                        </td>
                                        <td>
                                            {{ indonesia.2 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if matematika %}
                                    <tr>
                                        <td>
                                            Matematika
                                        </td>
                                        <td>
                                            {{ matematika.2 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if fisika %}
                                    <tr>
                                        <td>
                                            Fisika
                                        </td>
                                        <td>
                                            {{ fisika.2 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if kimia %}
                                    <tr>
                                        <td>
                                            Kimia
                                        </td>
                                        <td>
                                            {{ kimia.2 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if biologi %}
                                    <tr>
                                        <td>
                                            Biologi
                                        </td>
                                        <td>
                                            {{ biologi.2 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if ekonomi %}
                                    <tr>
                                        <td>
                                            Ekonomi
                                        </td>
                                        <td>
                                            {{ ekonomi.2 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if geografi %}
                                    <tr>
                                        <td>
                                            Geografi
                                        </td>
                                        <td>
                                            {{ geografi.2 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if sosiologi %}
                                    <tr>
                                        <td>
                                            Sosiologi
                                        </td>
                                        <td>
                                            {{ sosiologi.2 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Nilai Semester 4</h4>
                        
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Mata Pelajaran
                                    </th>
                                    <th>
                                        Nilai
                                    </th>
                                </thead>
                                <tbody>
                                    {% if inggris %}
                                    <tr>
                                        <td>
                                            Bahasa Inggris
                                        </td>
                                        <td>
                                            {{ inggris.3 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if indonesia %}
                                    <tr>
                                        <td>
                                            Bahasa Indonesia
                                        </td>
                                        <td>
                                            {{ indonesia.3 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if matematika %}
                                    <tr>
                                        <td>
                                            Matematika
                                        </td>
                                        <td>
                                            {{ matematika.3 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if fisika %}
                                    <tr>
                                        <td>
                                            Fisika
                                        </td>
                                        <td>
                                            {{ fisika.3 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if kimia %}
                                    <tr>
                                        <td>
                                            Kimia
                                        </td>
                                        <td>
                                            {{ kimia.3 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if biologi %}
                                    <tr>
                                        <td>
                                            Biologi
                                        </td>
                                        <td>
                                            {{ biologi.3 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if ekonomi %}
                                    <tr>
                                        <td>
                                            Ekonomi
                                        </td>
                                        <td>
                                            {{ ekonomi.3 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if geografi %}
                                    <tr>
                                        <td>
                                            Geografi
                                        </td>
                                        <td>
                                            {{ geografi.3 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if sosiologi %}
                                    <tr>
                                        <td>
                                            Sosiologi
                                        </td>
                                        <td>
                                            {{ sosiologi.3 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Nilai Semester 5</h4>
                        
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Mata Pelajaran
                                    </th>
                                    <th>
                                        Nilai
                                    </th>
                                </thead>
                                <tbody>
                                    {% if inggris %}
                                    <tr>
                                        <td>
                                            Bahasa Inggris
                                        </td>
                                        <td>
                                            {{ inggris.4 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if indonesia %}
                                    <tr>
                                        <td>
                                            Bahasa Indonesia
                                        </td>
                                        <td>
                                            {{ indonesia.4 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if matematika %}
                                    <tr>
                                        <td>
                                            Matematika
                                        </td>
                                        <td>
                                            {{ matematika.4 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if fisika %}
                                    <tr>
                                        <td>
                                            Fisika
                                        </td>
                                        <td>
                                            {{ fisika.4 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if kimia %}
                                    <tr>
                                        <td>
                                            Kimia
                                        </td>
                                        <td>
                                            {{ kimia.4 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if biologi %}
                                    <tr>
                                        <td>
                                            Biologi
                                        </td>
                                        <td>
                                            {{ biologi.4 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if ekonomi %}
                                    <tr>
                                        <td>
                                            Ekonomi
                                        </td>
                                        <td>
                                            {{ ekonomi.4 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if geografi %}
                                    <tr>
                                        <td>
                                            Geografi
                                        </td>
                                        <td>
                                            {{ geografi.4 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if sosiologi %}
                                    <tr>
                                        <td>
                                            Sosiologi
                                        </td>
                                        <td>
                                            {{ sosiologi.4 }}
                                        </td>
                                        </td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}